[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "ThirdParty/Box2D"]
	path = ThirdParty/Box2D
	url = https://github.com/erincatto/box2d.git
[submodule "ThirdParty/SDL_ttf"]
	path = ThirdParty/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "ThirdParty/SDL_image"]
	path = ThirdParty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
